<form class="m-4">
<div class="row">
<h1>Hard & Soft</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="70"
  [radius]="95"
  [imageSrc]="'../assets/HTML.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="11"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fefefe'"
  [innerStrokeColor]="'#9abae5'"
  [animation]="true"
  [animationDuration]="50"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="95"
    [imageSrc]="'../assets/CSS.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fefefe'"
  [innerStrokeColor]="'#9abae5'"
    [animation]="true"
    [animationDuration]="500"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="95"
    [imageSrc]="'../assets/JS.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fefefe'"
  [innerStrokeColor]="'#9abae5'"
    [animation]="true"
    [animationDuration]="500"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="95"
    [imageSrc]="'../assets/GITHUB.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fefefe'"
  [innerStrokeColor]="'#9abae5'"
    [animation]="true"
    [animationDuration]="500"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="95"
    [imageSrc]="'../assets/fb.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fefefe'"
  [innerStrokeColor]="'#9abae5'"
    [animation]="true"
    [animationDuration]="500"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="95"
    [imageSrc]="'../assets/twitter.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fefefe'"
  [innerStrokeColor]="'#9abae5'"
    [animation]="true"
    [animationDuration]="500"
></circle-progress>
</div>
